[submodule "preprocessor/pips"]
	path = preprocessor/pips
	url = https://github.com/aharley/pips.git
[submodule "preprocessor/manydepth"]
	path = preprocessor/manydepth
	url = https://github.com/nianticlabs/manydepth.git
[submodule "preprocessor/omnidata"]
	path = preprocessor/omnidata
	url = https://github.com/EPFL-VILAB/omnidata.git
[submodule "preprocessor/models/omnidata"]
	path = preprocessor/models/omnidata
	url = https://huggingface.co/Yanksi/omnidata
[submodule "preprocessor/models/pips"]
	path = preprocessor/models/pips
	url = https://huggingface.co/aharley/pips
